

</body>

<footer>
  &#169 <span id="year" ></span> Lokesh, Inc. All Rights Reserved
</footer>
<script>
var currentDate = new Date();
var year = currentDate.getFullYear();
document.getElementById("year").textContent = year;
</script>

</html>
